<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <p class="text-decoration-none"><%= link_to "Simple Airbnb", flats_path, :class => "text-decoration-none navbar-brand" %></p>
  </div>
</nav>

<div class="container">
  <div>
    <%= simple_form_for(@flat) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price_per_night %>
      <%= f.input :number_of_guests %>

      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
